@page "/system_Gaisei/Edit"
@page "/system_Gaisei/Edit/{Paramid}"
@inject HttpClient Http
@inject IJSRuntime JS

<div class="form-left">

    <div class="p-2 w-100 bd-highlight">
        @if (AddMode)
        {
            <h3>データ追加</h3>
            <button @onclick="(e=>AddDataAsync())" class="btn btn-primary">
                追加
            </button>
        }
        else
        {
            <h3>データ更新</h3>
            <button @onclick="(e=>UpdateDataAsync())" class="btn btn-primary">
                更新
            </button>
        }

        <button @onclick="(e=>ReturnClick())" class="btn btn-primary">
            戻る
        </button>

        <div class="input-group mb-12">
            <span class="input-group-text">区分</span>
            <select class="form-control" @bind=CurrentData.kubun>
                <option value="センター調査系" selected>センター調査系</option>
                <option value="センター業務系" selected>センター業務系</option>
                <option value="センター基盤系" selected>センター基盤系</option>
                <option value="政府基盤系" selected>政府基盤系</option>
            </select>
        </div>
        <div class=" input-group mb-12">
            <span class="input-group-text">情報システム名</span>
            <input type="text" class="form-control" @bind=CurrentData.systemName>
        </div>

        <div class="form-group">
            <span class="input-group-text">概要</span>
            <textarea rows="5" cols="80" class="form-control" @bind=CurrentData.gaiyo></textarea>
        </div>

        <!-- 読み取り項目 -->
        <div class="input-group mb-12">
            <span class="input-group-text">主管課室名（編集不可）</span>
            @if (AddMode)
            {
                <input type="text" class="form-control" @bind=Common.UserAD.sectionName>
            }
            else
            {
                <span class="form-control">@CurrentData.shukanKashitsu</span>
            }
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">情報システム責任者 所属及び役職</span>
            <input type="text" class="form-control" @bind=CurrentData.sekinin_Shozoku>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">情報システム責任者 氏名</span>
            <input type="text" class="form-control" @bind=CurrentData.sekinin_Name>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">連絡担当者 所属及び役職</span>
            <input type="text" class="form-control" @bind=CurrentData.renraku_Shozoku>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">連絡担当者 氏名</span>
            <input type="text" class="form-control" @bind=CurrentData.renraku_Name>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">連絡担当者 内線番号</span>
            <input type="text" class="form-control" @bind=CurrentData.renraku_Naisen>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">当初運用開始年度</span>
            <input type="text" class="form-control" @bind=CurrentData.unyoKaishi>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">次期更改予定時期</span>
            <input type="text" class="form-control" @bind=CurrentData.jikiKoukai>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">利用者属性 統計センター内</span>
            <select class="form-control" @bind=CurrentData.user_Center>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">利用者属性 統計局</span>
            <select class="form-control" @bind=CurrentData.user_Kyoku>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">利用者属性 他の政府機関</span>
            <select class="form-control" @bind=CurrentData.user_Seifu>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">利用者属性 地方公共団体</span>
            <select class="form-control" @bind=CurrentData.user_Localgovernment>
                <option hidden>{{SystemList.user_Localgovernment}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">利用者属性 一般利用者（国民等）</span>
            <select class="form-control" @bind=CurrentData.user_Ippan>
                <option hidden>{{SystemList.user_Ippan}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">国、地方、他法人のシステムとの連携</span>
            <input type="text" class="form-control" @bind=CurrentData.system_Coope>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">規模等 想定利用者数(人)</span>
            <select class="form-control" @bind=CurrentData.kibo_Cnt>
                <option value="100未満" selected>100未満</option>
                <option value="100以上1,000未満" selected>100以上1,000未満</option>
                <option value="1,000以上1万未満" selected>1,000以上1万未満</option>
                <option value="1万以上10万未満" selected>1万以上10万未満</option>
                <option value="10万以上" selected>10万以上</option>
                <option value="想定なし" selected>想定なし</option>
            </select>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">規模等 Webサーバ年間PV数</span>
            <input type="text" class="form-control" @bind=CurrentData.kibo_PV>
        </div>

        <div class="input-group mb-12">
            <span class="input-group-text">取り扱う情報の格付 機密性３情報</span>
            <select class="form-control" @bind=CurrentData.infoType_Kimitsu3>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">取り扱う情報の格付 機密性２情報</span>
            <select class="form-control" @bind=CurrentData.infoType_Kimitsu2>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">取り扱う情報の格付 完全性２情報</span>
            <select class="form-control" @bind=CurrentData.infoType_Kanzen2>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">取り扱う情報の格付 可用性２情報</span>
            <select class="form-control" @bind=CurrentData.infoType_Kayo2>
                <option hidden>{{SystemList.infoType_Kayo2}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">取り扱う情報の取扱制限</span>
            <input type="text" class="form-control" @bind=CurrentData.toriatsukaiseigen>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">個人情報 個人情報の取扱</span>
            <select class="form-control" @bind=CurrentData.kojin_Toriatsukai>
                <option hidden>{{SystemList.kojin_Toriatsukai}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">個人情報 特定個人情報の取扱</span>
            <select class="form-control" @bind=CurrentData.kojin_Tokutei>
                <option hidden>{{SystemList.kojin_Tokutei}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">システム種別</span>
            <select class="form-control" @bind=CurrentData.systemType>
                <option hidden>{{SystemList.systemType}}</option>
                <option value="基盤のみ" selected>基盤のみ</option>
                <option value="基盤＋アプリケーション" selected>基盤＋アプリケーション</option>
                <option value="アプリケーションのみ" selected>アプリケーションのみ</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">開発方式 開発方式</span>
            <select class="form-control" @bind=CurrentData.dev_Way>
                <option hidden>{{SystemList.dev_Way}}</option>
                <option value="スクラッチ開発" selected>スクラッチ開発</option>
                <option value="ソフトウェアパッケージカスタマイズ開発" selected>ソフトウェアパッケージカスタマイズ開発</option>
                <option value="スクラッチ・カスタマイズ開発の混合" selected>スクラッチ・カスタマイズ開発の混合</option>
                <option value="ソフトウェアパッケージの活用（カスタマイズなし）" selected>ソフトウェアパッケージの活用（カスタマイズなし）</option>
                <option value="その他" selected>その他</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">開発方式 その他の場合の内容</span>
            <input type="text" class="form-control" @bind=CurrentData.dev_Other>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">開発アプリケーション LOC(Kstep)</span>
            <input type="text" class="form-control" @bind=CurrentData.app_LOC>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">開発アプリケーション 画面数</span>
            <input type="text" class="form-control" @bind=CurrentData.app_GamenCnt>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">開発アプリケーション 帳票数</span>
            <input type="text" class="form-control" @bind=CurrentData.app_ChohyoCnt>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">物理サーバ等 物理サーバ等設置拠点数</span>
            <input type="text" class="form-control" @bind=CurrentData.server_BaseCnt>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">物理サーバ等 うちバックアップ拠点数</span>
            <input type="text" class="form-control" @bind=CurrentData.server_BackupCnt>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">物理サーバ等 物理サーバ台数</span>
            <input type="text" class="form-control" @bind=CurrentData.server_Cnt>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">通信する統計センター外通信回線の種別 インターネット</span>
            <select class="form-control" @bind=CurrentData.lineType_IE>
                <option hidden>{{SystemList.lineType_IE}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">通信する統計センター外通信回線の種別 政府共通NW</span>
            <select class="form-control" @bind=CurrentData.lineType_SeifuNW>
                <option hidden>{{SystemList.lineType_SeifuNW}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">通信する統計センター外通信回線の種別 SINET</span>
            <select class="form-control" @bind=CurrentData.lineType_SINET>
                <option hidden>{{SystemList.lineType_SINET}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">通信する統計センター外通信回線の種別 LGWAN</span>
            <select class="form-control" @bind=CurrentData.lineType_LGWIN>
                <option hidden>{{SystemList.lineType_LGWIN}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">通信する統計センター外通信回線の種別 その他</span>
            <select class="form-control" @bind=CurrentData.lineType_Other>
                <option hidden>{{SystemList.lineType_Other}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">パッケージ名</span>
            <input type="text" class="form-control" @bind=CurrentData.packageName>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">パッケージ開発元</span>
            <input type="text" class="form-control" @bind=CurrentData.packageDev>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 利用有無</span>
            <select class="form-control" @bind=CurrentData.cloudService_UserUmu>
                <option hidden>{{SystemList.cloudService_UserUmu}}</option>
                <option value="有り" selected>有り</option>
                <option value="無し" selected>無し</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 クラウドサービス名</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_SeviceName>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 請負事業者</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_Jigyosha>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 サービス企業</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_ServiceKigyo>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 クラウドサービスの概要</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_Gaiyo>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 契約期間契約開始</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_Start>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 契約期間契約終了</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_End>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 ドメイン名</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_DomainName>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 取り扱う情報の格付 機密性３情報</span>
            <select class="form-control" @bind=CurrentData.cloudService_Kimitsu3>
                <option hidden>{{SystemList.cloudService_Kimitsu3}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 取り扱う情報の格付 機密性２情報</span>
            <select class="form-control" @bind=CurrentData.cloudService_Kimitsu2>
                <option hidden>{{SystemList.cloudService_Kimitsu2}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 取り扱う情報の格付 完全性２情報</span>
            <select class="form-control" @bind=CurrentData.cloudService_Kanzen2>
                <option hidden>{{SystemList.cloudService_Kanzen2}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 取り扱う情報の格付 可用性２情報</span>
            <select class="form-control" @bind=CurrentData.cloudService_Kayo2>
                <option hidden>{{SystemList.cloudService_Kayo2"}}</option>
                <option value="有り" selected>有り</option>
                <option value="ー" selected>ー</option>
            </select>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウドサービス利用情報 取り扱う情報の取扱制限</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_Toriatsukai>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">クラウド移行予定</span>
            <input type="text" class="form-control" @bind=CurrentData.cloudService_Schedule>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">目標稼働率(%)</span>
            <input type="text" class="form-control" @bind=CurrentData.mokuhyoRate>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の導入・更改契約情報 請負事業者</span>
            <input type="text" class="form-control" @bind=CurrentData.donyu_Jigyosha>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の導入・更改契約情報 導入(更改)時期</span>
            <input type="text" class="form-control" @bind=CurrentData.donyu_Jiki>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の導入・更改契約情報 契約額(千円)</span>
            <input type="text" class="form-control" @bind=CurrentData.donyu_Price>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の保守・賃貸借等契約情報 請負事業者</span>
            <input type="text" class="form-control" @bind=CurrentData.hoshu_Jigyosha>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の保守・賃貸借等契約情報 保守・賃貸借等期間 契約開始</span>
            <input type="text" class="form-control" @bind=CurrentData.hoshu_Start>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の保守・賃貸借等契約情報 保守・賃貸借等期間 契約終了</span>
            <input type="text" class="form-control" @bind=CurrentData.hoshu_End>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の保守・賃貸借等契約情報 契約額(千円)</span>
            <input type="text" class="form-control" @bind=CurrentData.hoshu_Price>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の保守・賃貸借等契約情報 導入・更改と同一契約か</span>
            <input type="text" class="form-control" @bind=CurrentData.hoshu_SameDonyu>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 請負事業者</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_Jigyosha>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 運用期間 契約開始</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_Start>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 運用期間 契約終了</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_End>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 契約額(千円)</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_Price>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 導入・更改と同一契約か</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_SameDonyu>
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">直近の運用契約情報 保守・賃貸借と同一契約か</span>
            <input type="text" class="form-control" @bind=CurrentData.unyo_SameHoshu>
        </div>
    </div>
</div>
